@{
    ViewData["Title"] = "Contact";
}
<h3>Don't contact us because we don't care. Thanks</h3>

<address>
    None of your business<br />
    GoAway, CA 12345<br />
    <abbr title="Phone">P:</abbr>
    501.501.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@popularity.com">Support@popularity.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@popularity.com">Marketing@popularity.com</a>
</address>
