@model Popularity.Models.MostPopularModel
@{
    ViewData["Title"] = "INFLUENCE";
}

<div class="pop-header">
    <div class="row center-container">
        <h1 style="margin-top:100px; font-size:5.5em; font-family: 'Monoton', cursive;">INFLUENCE</h1>
    </div>
    <div class="row center-container">
        <button id="join-button" style="margin-top:25px; margin-bottom:35px" class="btn btn-lg btn-success">SIGN UP</button>
    </div>
</div>
<div class="row center-h-container">
    <div class="col-md-3">
        <h2 class="center-container">Add friends</h2>
        <ul>
            <li>Find your friends using email or name</li>
            <li>Distribute tokens amongst friends however you like</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 class="center-container">Have Fun</h2>
        <ul>
            <li>Collect badges, achievements, and influence of course!</li>
            <li>Who will become the most powerful?</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 class="center-container">Find ways to gain influence</h2>
        <ul>
            <li>There are many different ways to gain influence.</li>
        </ul>
    </div>
</div>
<div class="center-container">
    <div id="most-popular-section">
        <h2 style="text-align: center;">Highest Influence</h2>
        <div id="most-popular" class="flex-row">
            @foreach (var user in Model.Users)
            {
                <div class="popular-user">
                    <h4>@user.FirstName @user.LastName</h4>
                    <p>@user.Influence</p>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="join-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Join INFLUENCE!</h2>
      </div>
      <div class="modal-body">
        <form id="join-form">
            <div class="form-field">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname">
            </div>
            <div class="form-field">
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname">
            </div>
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="text" name="email">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">JOIN!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nah</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#join-button").click(function() {
            $('#join-modal').modal('show');
        });
    });
</script>